/////////////
// Buttons //
/////////////


/* ---------------------- */
/* ------- Button ------- */
/* ---------------------- */

.btn, .btn-alt, .btn-disabled, .gform_footer input[type='submit'], .gform_next_button, .gform_previous_button, .gform_button {
	color:white;
	text-decoration: none;
	margin: ($base*0.5) 0;
	padding: ($base*0.5) 1em;
	display: inline-block;
	border:none;
	@include corner($cornerRadius);
	&:hover {
		color:white;
	}
}

.btn, .gform_footer input[type='submit'], .gform_button { /* ------- Standard Button ------- */
	background: lighten($yellow,10);
	text-shadow: -1px -1px 2px rgba(0,0,0,1);
	box-shadow: 4px 2px 2px rgba(0,0,0,0.2), inset 1px 2px 1px lighten($yellow,20), inset -1px -2px 1px rgba(0,0,0,0.4);
	transition: all 0.1s ease;
	&:hover {
		background: saturate($yellow,10);
	}
	&:active {
		background: saturate($yellow,10);
		box-shadow: 0px 0px 0px rgba(0,0,0,0.2), inset -1px -2px 1px lighten($yellow,20), inset 1px 2px 1px rgba(0,0,0,0.4);
	}
}

.gform_footer input[type='submit'], .gform_next_button, .gform_previous_button, .gform_button {
	font-size: $font16;
	padding: 0.75em 1em;
	border: none;
}

.btn-alt, .searchform input[type="submit"] { /* ------- Alternate Button ------- */
	background: lighten($tan,7);
	color: $text;
	border: 2px solid darken($tan, 20%);
	&:hover {
		background: $yellow;
		border: 2px solid $yellow;
	}
}
.sidebar .btn-alt {
	margin-top: 0;
}
.gform_next_button, .gform_previous_button,  { /* ------- Next/Previous Button ------- */
	background: lighten($yellow,10);
	&:hover {
		background-color: $yellow;
	}
}