//////////////////
// Image Styles //
//////////////////


/* Handles responsive imagery 
* Resizes all images to 100% until they reach their max width */
img { 
	max-width:100%;
    height: 100%;
}


/* -------------------- */
/* ------- Logo ------- */
/* -------------------- */

.logo {
	width: 162px;
	height: 74px;
	background: url(library/images/logo.png) no-repeat center center;
	background-size: 100% 100%;
	text-indent: -9999px;
	margin-top: ($base*0.75);
	margin-left: 2em;
	margin-bottom: ($base*0.81);
	float:left;	
	transition: all 0.2s ease;
	@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
		background: url(library/images/logo-2x.png) no-repeat center center;
		background-size: 100% 100%;
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
	}
}


.bene-icon {
	float: left;
	margin-right: 1em;
}