/////////////
// Tables //
/////////////


/* ---------------------- */
/* ------- Button ------- */
/* ---------------------- */

table {
	width:100%;
	text-align: left;
	thead, tfoot {
	}
	thead {
		background: $gray-dark;
		color:white;
	}
	tfoot {
		background: $gray-light;
	}
	tbody {
		
	}
	tr {
		border-bottom: 2px solid $gray-light;
		&:nth-child(odd) td {
			background: lighten($tan,2);
		}
		&:nth-child(even) td {
		}
		&:hover td {
			background: lighten($tan,8);
		}
	}
	td {
		padding-left: 0.5em;
		padding-right: 0.5em;
		position: relative;
		z-index: -2;
	}
}


/* -------------------------- */
/* ------- Event List ------- */
/* -------------------------- */

.events-wrap {
	font-size: $font12;
	th {
		&:first-child {
			width:13%;
		}
		&:nth-child(2) {
			width:44%;
		}
		&:nth-child(3) {
			width:10%;
		}
		&:nth-child(4) {
			width:17%;
		}
		&:nth-child(5) {
			width:5%;
		}
		&:last-child {
			width:11%;
		}
	}
}

.featured-events .race-legend {
	font-size: $font12;
}

.featured-race td { /* -------- Event List Qualifications Styling -------- */
	background: lighten(gold,35);
}
.atra-race-member {
	font-weight: bold;
}

.meets-atra-event-standards-icon:before {
	content: '';
	width:31px;
	height:14px;
	background: url(library/images/icon-eventsStandards.png) no-repeat center top;
	margin: 0 0.75em 0 0;
	display: inline-block;
	float: left;
	@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
		background: url(library/images/icon-eventsStandards-2x.png) no-repeat center top;
		background-size: 31px 14px;
	}
}