////////////////
// Containers //
////////////////


/* -------------------------------- */
/* ------- Background Wraps ------- */
/* -------------------------------- */
body {
	background: lighten($tan,5);
	color:$text;
	line-height: 1.5;
	position: relative;
	transition: all ease-out 0.3s;
}

.wrap {
	max-width: $width-max;
	margin: 0 auto;
	@include clearfix;
}

.wrap-main {
	@include column(8);
	margin-bottom: ($base*4);
	@include bp(tablet-v) { /* tablet V and below layout */
		@include column(12);
	}
}

.wrap-full {
	@include column(12);
	margin-bottom: ($base*2);
}



/* ----------------------------- */
/* ------- Body Articles ------- */
/* ----------------------------- */
.half {
	@include column(6);
	@include bp(tablet-h) { /* tablet H and below layout */
		@include column(12);
	}
	@include bp(tablet-v) { /* tablet V and below layout */
		@include column(6);
	}
	@include bp(mobile-h) { /* mobile and below layout */
		@include column(12);
	}
}


/* ----------------------- */
/* ------- Sidebar ------- */
/* ----------------------- */
.sidebar {
	@include column(4);
	float:right;
	margin-bottom: ($base*4);
}