/////////////////
// Form Styles //
/////////////////


/* ---------------------------- */
/* ------- Contact Form ------- */
/* ---------------------------- */

form { 
  @include corner($cornerRadius); 
  width:100%;
}
.search-form {
	margin-bottom: ($base*2);
	input[type='submit'] {
		color: white;
		border: none;
		height: ($base*2);
	}
}

input, select, textarea {
	outline:none;
}

label abbr, span.gfield_required, .validation_message { /* Required Form Fields */
	color:$red !important;
	font-weight: bold;
}


/* Text Input */
textarea, 
select, 
input[type='text'], 
input[type='password'], 
input[type='url'], 
input[type='email'],
input[type='tel'],  
input[type='search'], 
input[type='number'],
input[type='newsletter'], 
input[type='color'], 
input[type='date'], 
input[type='month'], 
input[type='week'], 
input[type='datetime'], 
input[type='datetime-local'] {
  width:100%;
  margin:.2em 0 1em;
  padding: .25em;
  @include corner($cornerRadius);
}

/* Pill Button Design*/
.inline-container, .search-form {
	position: relative;
}

.search-form input[type="search"] {
	width: 85%;
}

.search-form input[type="submit"] {
	position: absolute;
	right:0;
	top:-0.4em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

::placeholder {
	color: $gray-light;
}

/* Text Input Error */
.validation_error { /* Label */
	background:$red;
	color: white;
	padding: ($base*0.5) 1em;
}
.gfield_error { /* Text field */
	background: lighten($red, 65%);
}

/* Text Area */
textarea {
  height:($base*8);
  @include corner($cornerRadius*0.5);
}

.gfield_checkbox input, .gfield_checkbox label {
	width: intrinsic;
}


/* --------------------------------- */
/* ------- Event Search Form ------- */
/* --------------------------------- */

.event-search {
	width:100%;
	background: $orange;
	margin-top: -($base*4.5);
	margin-bottom: ($base*2);
	display: block;
	@include corner(($cornerRadius*4));
	box-shadow: 0px 4px 3px rgba(45,30,25,0.7);
	@include clearfix;
	z-index: 1;
	h1 {
		@include script;
		font-size: 4em;
		text-align: center;
		color: white;
		text-shadow: 0 2px 1px black;
		margin-top: $base;
	}
	fieldset {
		width: 80%;
		border: 0;
		max-width: $width-max;
		margin: ($base*0.5) auto 0;
		padding-bottom: 0;
	}
	label {
		display: none;
	}
	input[type='text'], .event-search-btn { 
		font-size: $font18;
		border: none;
		padding: ($base*0.75) 1em;
	}
	.event-search-wrap {
		position: relative;
		.active::before {
			transform: rotate(45deg);
		}
	}
	input[type='text'] {
		box-shadow: inset 4px 2px 3px rgba(0,0,0,0.2);
		background: linear-gradient(#e3e3e3 0%, #ffffff 50%);
	}
	.event-search-btn {
		position: absolute;
		top: -($base*0.3); 
		right: 0;
		padding: ($base*0.75) 3em;
		border-top-left-radius: 0px; 
		border-bottom-left-radius: 0px;
	}
	p {
		text-align: right;
		float: right;
		color: white;
		margin-top: -($base*1);
		margin-bottom: ($base*1.5);
		position:relative;
		z-index: 50;
	}
	a {
		color:white;
		&:hover {
			color: lighten($yellow,20);
			text-decoration: none;
		}
		&:active {
			color: $yellow;
			text-decoration: none;
		}
	}
	select:last-child {
		margin-bottom: ($base*2);
	}
	@include bp(tablet-h) { /* tablet H and below layout */
		h1 {
			font-size: 3em;
		}
		.event-search-btn {
			padding: ($base*0.75) 2em;
		}
	}
	@include bp(mobile-h) { /* mobile H and below layout */
		@include corner(0);
		h1 {
			font-size: 2em;
		}
		.search-text {
			display: inline-block;
			text-indent: -9999px;
		}
	}
}

.search-toggle { /* ------- Advanced Search Toggle ------- */
	width:100%;
	font-weight: normal;
	margin-top: 0;
	margin-left: ($base*0.6);
	&:before {
		content: '';
		width:1px;
		height: 1px;
		display: block;
		border: 4px solid white;
		border-left: 4px solid $orange;
		border-top: 4px solid $orange;
		transform: rotate(-45deg);
		position: relative;
		left:-($base*0.75);
		top:($base*0.85);
		transition: transform 0.2s ease;
	}
}

.search-filter {
	display: none;
	.active {
		display: block;
	}
}

/* ----------------------------------- */
/* ------- Gravity Form Styles ------- */
/* ----------------------------------- */

.gf_page_steps {
	font-size: $font12;
	margin: $base 0 0;
	color: $gray-dark;
	@include clearfix;
	.gf_step {
		@include column(4);
		padding: ($base*0.5) 1em;
		background: $tan;
	}
	.gf_step_active {
		font-weight: bold;
		background: darken($tan,38);
		color: $tan;
		.gf_step_number {
			color: $tan;
		}
	}
	.gf_step_number {
		font-size: 2em;
		margin-right: 0.25em;
	}
}

.ginput_container, .gfield_select {
	@include column(12);
	margin-bottom: ($base*0.5);
	position: relative;
	@include clearfix;
}
.gfield_select {
	height: ($base*1.5);
}

.event-half {
	width:50%;
	float: left;
	input {
		@include column(12);
	}
}
.event-half-row {
	@extend .event-half;
	margin-right: 50%;
}

.ginput_complex span {
	width:49%;
	display: block;
	float: left;
	&:nth-child(even) {
		float: right;
	}
}

.gform_page li {
	margin-bottom: ($base*0.5);
	@include clearfix;
}

.gfield_checkbox {
	margin-left: 1em;
}

.gform_fields input[type='text'], .gform_fields input[type='email'], .gform_fields input[type='tel'], .gform_fields input[type='url'], .gform_fields textarea, .search-form input[type='text'], .gform_fields input[type='number'], .search-form input[type="search"] {
	padding: ($base*0.5 1em);
	margin-bottom: 0;
	border: none;
	box-shadow: inset 2px 1px 3px rgba(0,0,0,0.2);
}

.ginput_container label, .gfield_description {
	font-size: $font11;
	color:$gray;
	text-transform: uppercase;
}
.gfield_checkbox label {
	color: $text;
}
.ginput_container label {
	padding-left: 1.3em;
}

.gfield_description {
	padding-left: 2em;
}

@include bp(mobile-h) { /* mobile H and below layout */
	.ginput_left, .ginput_right {
		width: 100% !Important;
	}
	.event-half {
		width:100%;
		input {
			width:100%;
		}
	}
}



/* ---------------------------------- */
/* ------- Date Picker Styles ------- */
/* ---------------------------------- */

.ui-datepicker-trigger { /* Date Picker field icon */
	position: absolute;
	right:1em;
	top:35%;
	width: intrinsic;
	height: intrinsic;
}

/* ------- Date Picker ------- */
.ui-datepicker {
    width: 216px;
    height: auto;
    font-size: $font12;
    margin: -($base*2) auto 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
}

.ui-datepicker-header {
    background-color: $gray-dark; /* set the header background color */
    color: #e0e0e0;
    font-weight: bold;
    text-shadow: 1px -1px 0px black;
    line-height: 30px;
    min-height: 30px !important;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $gray-dark;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-title select {
    margin-top: 2.5%;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url('library/images/arrow.png');
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
    &:hover {
	    background-color: lighten($gray-dark,5);
    }
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {
    background: #f7f7f7;
    background: linear-gradient(to bottom, #f7f7f7 0%, #f1f1f1 100%);
    border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
    text-transform: uppercase;
    text-align: center;
    font-size: 6pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
}

.ui-datepicker tbody td {
    padding: 0;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}
.ui-datepicker-month, .ui-datepicker-year {
	width:70px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
}

.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: #FFF2AA; /* set the active date background color */
    border: 1px solid #c19163; /* set the active date border color */
    color: #666; /* set the active date font color */
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    text-shadow: 0px 1px 0px #FFF;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}

td.ui-datepicker-unselectable.ui-state-disabled {
    background-color: #d7d7d7;
}

table.ui-datepicker-calendar {
    margin: 0 0 0 0 !important;
}

body div#ui-datepicker-div[style] {
    z-index: 9999 !important;
}

