///////////////////
// Header Styles //
///////////////////

body {
	background: lighten($tan,5);
	position: relative;
}

.wrap {
	max-width: $width-max;
	@include clearfix;
	margin: 0 auto;
}

.wrap-main {
	@include column(8);
}

.sidebar {
	@include column(4);
	float:right;
}

.headroom { // Provides the padding for the content in exchange for the fixed header
	padding-top: ($base*6);
}


/* ---------------------- */
/* ------- Header ------- */
/* ---------------------- */

.header {
	width:100%;
	height:($base*5);
	background: rgba(255,255,255,0.5);
	position: fixed;
	z-index: 10;
}
.inner-header {
	max-width: $width-max;
	margin: 0 auto;
	.nav-toggle {
		margin-top: -($base*1);
		float: right;
	}
}

