////////////////
// Navigation //
////////////////


/* --------------------------------- */
/* ------- Header Navigation ------- */
/* --------------------------------- */

.header-nav {
	float: right;
	li {
		float: left;
		margin: 0 0.75em;
		position: relative;
		a {
			@include sans;
			font-size: 0.95em;
			color:$text; 
			font-weight: bold;
			text-decoration: none;
			padding: ($base*2) 0;
			display: inline-block;
			border-top: 0px solid $orange;
			transition: border-top 0.25s ease, padding-top 0.2s ease;
			&:hover {
				color:$orange;
				text-decoration: none;
				border-top: 6px solid $orange;
			}
		}
	 	ul {
	 		opacity: 0;
	 		display: none;
	 	}
	 	&:hover ul {
			opacity: 1;
	 		display: block;
	 	}
	}
	.current_page_item a, .current_page_parent a {
		border-top: 6px solid $orange;
	}
	.sub-menu {
	 	width:220px;
		background: rgba(255,255,255,0.3);
	 	color: $text;
	 	padding: 0 0.25em 0.25em;
	 	@include corner($cornerRadius*0.25);
	 	border-top-left-radius: 0;
	 	border-top-right-radius: 0;
	 	border-top: 0;
	 	box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
	 	position: absolute;
	 	top:($base*5);
	 	left: -1em;
	 	li {
	 		width:100%;
	 		padding: 0;
	 		margin: 0;
	 	}
	 	a {
	 		width:100%;
			background: rgba(255,255,255,0.78);
			padding: ($base*0.5);
	 		border:none;
	 		&:hover {
	 			background: $orange;
	 			color:white;
		 		border:none;
	 		}
	 	}
		.current_page_item, .current_page_parent {
			color:$text;
			border-top: none;
		}
	}
	@include bp(tablet-h) { /* tablet H and below layout */
		width: 100%;
		background: white;
		text-align: center;
		box-shadow: 0 6px 8px rgba(0,0,0,0.5);
		display: none;
		li {
			width:16.66%;
			margin: 0;
			padding: 0;
			border:none;
			a {
				width:100%;
				font-size: $font14;
				padding: 1.5em 0;
				&:hover {
					background: $orange;
					color: white;
					border: none;
				}
			}
		}
		.sub-menu {
			top:($base*3);
		 	left: 0em;
			text-align: left;
		}
		.current_page_item, .current_page_parent {
			background:$orange;
		}
		.current_page_item a, .current_page_parent a {
			border-top: none;
		}
	}
	@include bp(mobile-h) { /* mobile H and below layout */
		li {
			display: block;
			width: 100%;
			border-bottom:1px solid $gray;
			border-top:1px solid white;
			&:hover ul {
				display: none;
			}
			a {
				display: block;
			}
		}
		.sub-menu {
			display: none;
		}
	}
}

.header.shrink {
	li { /* shrunk navigation menu when scrolling */
		a {
			height:($base*3);
			padding-top: $base;
		}
		li a {
			height:intrinsic;
			padding-top: ($base*0.5);
		}
		.sub-menu {
		 	top:($base*3);
		 }
	}
	h3#menu-toggle {
		right: 5%;
		.menu-icon {
			font-size: 2em;
		}
	}
	.logo {
		margin-top: ($base*0.5);
		width:105px;
	}
}

#social-share {
	@include clearfix;
	ul {
		list-style: none;
		margin-top:0;
		padding-left:0;
		li {
			background: $yellow;
			float: left;
			margin: 0;
			a {
				color:white;
				padding: 1em 1.5em;
				display: inline-block;
				&:hover {
					text-decoration: none;
					background: $orange;
				}
			}
		}
	}
}

/* --------- Mobile Navigation --------- */
h3#menu-toggle { 
	display: none;
	@include bp(tablet-h) { /* mobile H and below layout */
		width: 2.3em;
		display: inline-block;
		position: absolute;
		top: -$base;
		right: 10%;
		text-shadow: none;
	    .menu-icon {
		    font-size: 4em;
		    display: inline-block;
	    }
	    .menu-text {
		    text-indent: -9999px;
		    display: block;
	    }
	    a:hover {
			color: $yellow;
	    }
		a {
			width: 100%;
			height: 100%;
			color: $gray-dark;
			font-size: .75em;
			display: block;
		}
	}
}


/* --------------------------------- */
/* ------- Footer Navigation ------- */
/* --------------------------------- */

.footer-nav {
	width:intrinsic;
	margin: 0 auto;
	font-size: $font14;
	@include clearfix;
	li {
		float:left;
		margin: 0 1em;
		a {
			height: ($base*3);
			@include sans;
			text-decoration: none;
			padding: $base 0;
			display: block;
			border-bottom: 0px solid $orange;
			transition: border-bottom 0.25s ease;
			&:hover {
				color:$orange;
				border-bottom: 6px solid $orange;
			}
		}
	}
	@include bp(tablet-h) { /* tablet H and below layout */
		li {
			font-size: $font13;
		}
	}
	@include bp(tablet-v) { /* tablet V and below layout */
		li {
			font-size: $font12;
			margin: 0 0.75em;
		}
	}
	@include bp(mobile-h) { /* mobile H and below layout */
		li {
			width: 100%;
			background: white;
			font-size:$font18;
			text-align: center;
			margin: 0;
			a {
				border-bottom: 1px solid lighten($gray-light,10);
				transition: background 0.25s ease;
				&:hover {
					background: $orange;
					color: white;
					border-bottom: none;
				}
			}
			&:last-child a {
				border-bottom: none;
			}
		}
	}
}


/* -------------------------- */
/* ------- Breadcrumb ------- */
/* -------------------------- */

.breadcrumbs {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float:left;
		&:before {
			content:' // ';
			color:$orange;
		}
		a {
			text-decoration: none;
			&:hover {
				color:$red;
			}
		}
	}
}


/* -------------------------- */
/* ------- Pagination ------- */
/* -------------------------- */

.pagination {
	list-style: none;
	margin-top:0;
	padding-left:0;
	@include clearfix;
	li {
		float: left;
		margin: 1em 0;
		border-right: 1px solid $gray;
		&:last-child {
			border-right: none;
		}
		a {
			width: 100%;
			height: 100%;
			color:$orange;
			text-decoration: none;
			padding: 1em 1.5em;
			display: inline-block;
			&:hover {
				background: $tan;
			}
		}
	}
}


/* -------------------- */
/* ------- Tabs ------- */
/* -------------------- */

.tabs, .accordion {
	@include clearfix;
	ul {
		margin-top:0;
		padding-left: 0;
	}
	li {
		@include column(4);
		text-align: center;
		float: left;
		a {
			width: 100%;
			height: 100%;
			background: $orange;
			color:white;
			text-decoration: none;
			padding: 1em 1.5em;
			display: inline-block;
			&:hover {
				background: lighten($orange,20%);
			}
		}
	}
}
.accordion li {
	@include column(12);
	text-align: left;
	position: relative;
	&:after {
		content: '+';
		color: white;
		position: absolute;
		right: 1em;
		top:1em;
	}
}


/* ------------------------------ */
/* ------- Single Comment ------- */
/* ------------------------------ */

.comment-container {
	list-style: none;
	@include clearfix;
	.comment-meta {
		@include column(2);
		float: left;
		a {
			color: black;
			text-decoration: none;
			&:hover {
				color:$orange;
			}
		}
	}
	.comment-text {
		@include column(10);
		display: inline-block;
		float: right;
	}
}


/* --------------------- */
/* ------- Alert ------- */
/* --------------------- */

.alert {
	background: $tan;
	text-align: center;
	border: 1px solid $gray;
	padding: 1em 1.5em;
}