/////////////////
// Page Styles //
/////////////////


/* ---------------------------- */
/* ------- Generic Grid ------- */
/* ---------------------------- */

.grid1, .grid2, .grid3, .grid4 {
	color: white;
	text-align: center;
}
.grid1, .grid3 {
	background: $gray-light;
}
.grid2, .grid4 {
	background: $gray-dark;
}
.grid1 { /* desktop layout */
	@include column(12);
}
.grid2 {
	@include column(6);
}
.grid3 {
	@include column(4);
}
.grid4 {
	@include column(3);
}
@include bp(tablet-only) { /* tablet layout */
	.grid2 {
		@include column(6);
	}
	.grid3 {
		@include column(6);
	}
	.grid4 {
		@include column(6);
	}
}
@include bp(mobile-only) { /* mobile layout */
	.grid2, .grid3, .grid4 {
		@include column(12);
	}
}


/* ---------------------- */
/* ------- Figure ------- */
/* ---------------------- */

figure {
	figcaption {
		color: $gray-light;
		font-style: italic;
	}
}


/* -------------------- */
/* ------- Blog ------- */
/* -------------------- */


h1.page-title, h1.entry-title { /* Post titles on Trail News */
	width: intrinsic;
	background: lighten($tan,5);
	text-align: center;
	padding: 0 0.5em;
	margin: 0 auto;
}

.entry-header { /* Post titles spacing on the margin bottom */
	margin-bottom:$base;
	h2 {
		margin-bottom: 0;
	}
}
.byline-figure { /* Author image */
	 width:50px;
	 height: 50px;
	 margin-right:1em;
	 margin-left: -1em;
	 float:left;
	 border-radius: 50%;
	 border: 2px dotted $yellow;
	 overflow: hidden;
}
.byline, .footer-category { /* Author name and Category */
	font-size: $font14;
	margin: 0;
	padding: 0;
}
.byline-group {
	@include column(6);
	float: left;
}
.byline-cat {
	float: right;
	text-align: right;
	display: block;
	height: $base;
	@include column(6);
}
@include bp(mobile-h) { /* mobile H format and below */
	.byline-group, .byline-cat {
		@include column(12);
	}
}

.news-list {
	@include clearfix;
	figure {
		@include column(5);
		@include bp(mobile-h) { /* mobile H format and below */
			@include column(12);
		}
	}
}

.featured-posts {
	h4 {
		margin-top: 0;
	}
	li {
		@include column(6);
		&:first-child {
			margin-left: 0;
		}
	}
}


/* Blog Archive List */
.block-thumb {
	.b-inner {
		@include clearfix;
	}
	.b-thumb {
		@include column(3);
	}
	.b-text {
		@include column(9);
	}
	.b-title {
		
	}
}

.block-headline {
	text-decoration: none;
}

.block-hero {
	.b-thumb {
		@include column(12);
	}
}

.block-inset {
	.b-thumb {
		
	}
	.b-text {
		background: black;
		margin-top: -($base*4);
		padding-left:1em;
		position: relative;
		z-index: 10;
	}
}

/* Company information */
.vcard {
	font-size: $font14;
	.org { /* Company name */
		font-weight: bold;
	}
	.adr { /* Company address */
		
	}
	.tel { /* Company telephone */
	
	}
}




