////////////////////
// Sidebar Styles //
////////////////////

.sidebar {
	margin-bottom: ($base*2);
	@include bp(tablet-v) { /* tablet V and below layout */
		@include column(12);
	}
}

.sidebar-news {
	.news-header {
		@include clearfix;
	}
	li {
		p {
			@include column(8);
			float: right;
		}
		a {
			@include clearfix;
		}
	}
	figure {
		@include column(4);
		float: left;
	}
	
}

/* ------------------------------- */
/* ------- Become a Member ------- */
/* ------------------------------- */



/* ---------------------------------- */
/* ------- Social Media Links ------- */
/* ---------------------------------- */
