////////////////////
// Sidebar Styles //
////////////////////

.sidebar {
	margin-bottom: ($base*2);
	p:first-child {
		margin-top: 0;
	}
	@include bp(tablet-v) { /* tablet V and below layout */
		@include column(12);
	}
}

.sidebar-news {
	.news-header {
		@include clearfix;
	}
	li {
		p {
			@include column(8);
			float: right;
		}
		a {
			@include clearfix;
		}
	}
	figure {
		@include column(4);
		float: left;
	}
	
}

/* ------------------------------- */
/* ------- About ATRA links ------- */
/* ------------------------------- */
.sidebar-about-us ul {
	list-style: disc;
	margin-left: 1.25em;
}


/* ----------------------------------------------------- */
/* ------- Social media - Conversation - Connect ------- */
/* ----------------------------------------------------- */
.sidebar-connect, .sidebar-social {
	ul {
		@include clearfix;
	}
	li {
		@include column(4);
	}
}
.sidebar-connect {
	background: $tan;
	padding: 0.1em 1em;
}