/////////////
// Tables //
/////////////


/* ---------------------- */
/* ------- Button ------- */
/* ---------------------- */

table {
	width:100%;
	text-align: left;
	thead, tfoot {
		border-top:1px solid $gray;
		border-left:1px solid $gray-dark;
		border-right: 1px solid $gray-dark;
	}
	thead {
		background: $gray-dark;
		color:white;
	}
	tfoot {
		background: $gray-light;
	}
	tbody {
		
	}
	tr {
		border-bottom: 2px solid $gray-light;
		&:nth-child(odd) td {
			background: $tan;
		}
		&:nth-child(even) td {
			background: lighten($tan,5);
		}
	}
	td {
	}
}


/* -------------------------- */
/* ------- Event List ------- */
/* -------------------------- */

.events-wrap {
	font-size: $font12;
	th {
		&:first-child {
			width:3%;
		}
		&:nth-child(2) {
			width:11%;
		}
		&:nth-child(3) {
			width:32%;
		}
		&:nth-child(4) {
			width:16%;
		}
		&:nth-child(5) {
			width:18%;
		}
		&:nth-child(6) {
			width:6%;
		}
		&:last-child {
			width:14%;
		}
	}
	li { /* creates the commas after each distance */
		margin-right: 0.5em;
		display: inline-block;
		float: left;
		&:after {
			content:',';
		}
		&:last-child:after{
			display: none;
		}
	}
}