/////////////
// Tables //
/////////////


/* ---------------------- */
/* ------- Button ------- */
/* ---------------------- */

table {
	width:100%;
	text-align: left;
	thead, tfoot {
	}
	thead {
		background: $gray-dark;
		color:white;
	}
	tfoot {
		background: $gray-light;
	}
	tbody {
		
	}
	tr {
		border-bottom: 2px solid $gray-light;
		&:nth-child(odd) td {
			background: $tan;
		}
		&:nth-child(even) td {
			background: lighten($tan,5);
		}
		&:hover td {
			background: lighten($tan,7);
		}
	}
	td {
	}
}


/* -------------------------- */
/* ------- Event List ------- */
/* -------------------------- */

.events-wrap {
	font-size: $font12;
	th {
		&:first-child {
			width:4%;
		}
		&:nth-child(2) {
			width:11%;
		}
		&:nth-child(3) {
			width:32%;
		}
		&:nth-child(4) {
			width:16%;
		}
		&:nth-child(5) {
			width:18%;
		}
		&:nth-child(6) {
			width:5%;
		}
		&:last-child {
			width:14%;
		}
	}
	.featured-race td { /* -------- Event List Qualifications Styling -------- */
		background: lighten(gold,35);
	}
	.atra-race-member {
		font-weight: bold;
	}
	.meets-atra-event-standards td:first-child:before {
		content: 'Meets ATRA Event Standards';
		width:31px;
		height:14px;
		background: url(library/images/icon-eventsStandards.png) no-repeat center top;
		text-indent: -9999px;
		display: block;
		@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
			background: url(library/images/icon-eventsStandards-2x.png) no-repeat center top;
			background-size: 31px 14px;
		}
	}
}