////////////////
// Typography //
////////////////

@import url(http://fonts.googleapis.com/css?family=Raleway:700);
/* ------------------------------------ */
/* ------- Fonts and Font Sizes ------- */
/* ------------------------------------ */

@mixin sans-serif {
	font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

@mixin script {
	font-family: 'Rye', 'Codystar', serif;
}

@mixin sans {
	font-family: 'Graduate', 'Raleway', sans-serif;
}

$font8: 0.5em;  /* Pixel Font Sizes in EMs */
$font10: 0.625em;
$font11: 0.6875em;
$font12: 0.75em;
$font13: 0.8125em;
$font14: 0.875em;
$font16: 1em;
$font18: 1.125em;
$font20: 1.25em;


/* -------------------------- */
/* ------- Icon Fonts ------- */
/* -------------------------- */

@font-face {
	font-family: 'social';
	src:url('library/fonts/social.eot');
	src:url('library/fonts/social.eot?#iefix') format('embedded-opentype'),
		url('library/fonts/social.woff') format('woff'),
		url('library/fonts/social.ttf') format('truetype'),
		url('library/fonts/social.svg#33-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'social';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


/* ------------------------- */
/* ------- Body Text ------- */
/* ------------------------- */
body {
	font-size: $font16;
}

h1, h2 {
	@include sans;
	margin: ($base*1.5) 0 0;
}
h3, h4, h5, h6 {
	@include sans-serif;
	margin: ($base*1.5) 0 0;
}
h1 {
	
}
h2 {
	
}
h3 {
	
}
h4 {
	
}
.sidebar h4 {
	font-size: 1.2em;
	@include sans-serif;
}
h5 {
	
}
h6 {
	
}

p { 
	
}

blockquote {
	color: $gray;
	font-style: italic;
	margin-bottom: $base;
	padding-left:1em;
	padding-right:1em;
	border-left: 2px solid $gray;
	cite {
		width: 100%;
		text-align: right;
		display: block;
	}
}

ul.bullets { /* Add bullets to a list */
	margin-left: 1.5em;
	 list-style: disc;
}
 
.list-commas li { /* creates the commas after each distance */
	margin-right: 0.5em;
	display: inline-block;
	float:left;
	&:after {
		content: ',';
	}
	&:last-child:after {
		display:none;
	}
}

dt { /* Definition List - Term */
	font-weight: bold;
}
dd { /* Definition List - Defined */
	
}

hr { /* Horizontal Rule */
	border-bottom:4px solid $gray;
}

.uppercase { 
	text-transform: uppercase; 
}

.font-secondary {
	@include sans;
}

.intro {
	font-size: $font20;
	font-weight: bold;
}

/* ----------------------------- */
/* ------- Selected Text ------- */
/* ----------------------------- */

::selection { 
	background: saturate($yellow,10); 
}
::-moz-selection { 
	background: saturate($yellow,10); 
}


/* ---------------------------------- */
/* ------- Screen Reader Text ------- */
/* ---------------------------------- */

.screen-reader-text {
	display: none;
}