////////////////
// Containers //
////////////////


/* -------------------------------- */
/* ------- Background Wraps ------- */
/* -------------------------------- */
body {
	background: lighten($tan,5);
	color:$text;
	line-height: 1.5;
	position: relative;
	transition: all ease-out 0.3s;
}

.wrap {
	max-width: $width-max;
	@include clearfix;
	margin: 0 auto;
}

.wrap-main {
	@include column(8);
	margin-bottom: ($base*2);
	@include bp(tablet-v) { /* tablet V and below layout */
		@include column(12);
	}
}

.wrap-full {
	@include column(12);
	margin-bottom: ($base*2);
}

.sidebar {
	@include column(4);
	float:right;
}


/* ---------------------- */
/* ------- Header ------- */
/* ---------------------- */



/* ----------------------------- */
/* ------- Body Articles ------- */
/* ----------------------------- */




/* ---------------------- */
/* ------- Footer ------- */
/* ---------------------- */

